<div class="intro" style="height: 100vh;">
    <header>
        <div class="d-flex ">
            <div class=" px-3 pt-2">
                <img src="https://gscet.org/wp-content/uploads/2020/07/180logo.png" style="width: 5rem;" alt="Logo">
            </div>
            <div class="com-md-2 pt-4">
                <h4 class="text-white">GSCET</h4>
            </div>
        </div>
        <hr class="border-3">
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 justify-content-center text-white" style="padding-top: 9rem;">
                    <h4 class="text-white text-center">Admin Login</h4>
                <div class="form_style rounded p-2">
                    <form action="/admin/admin-login" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Username</label>
                            <input type="text" name="Username" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
                        </div>
                        {{!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> --}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>