<section class="home-section home-sect btm-footer">
	<div class="container-fluid">
		<div class="row">
			<div>
				<h4 class="text-center mt-3"><u>Department of Computer Science</u></h4>
			</div>
			<div class="d-flex justify-content-around mt-5">
				<div>
					<h5>Total Students</h5>
					<div class="card rounded-3 shadow " style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-user-graduate"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Students</p>
									</div>
									<div class="d-flex justify-content-center ">
										<p class="card-text fs-4 fw-bold ">{{cseStd}}</p>
									</div>
								</div>
							</div>
						</div>
						{{!-- <div class="justify-content-end d-flex px-2">
							<a href="/admin/students-department">view more</a>
						</div> --}}
					</div>
				</div>
				<div>
					<h5>Total Staff</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-chalkboard-user"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Staff</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">50</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div>
				<h4 class="text-center mt-3"><u> Department of Electronics & Communication</u></h4>
			</div>
			<div class="d-flex justify-content-around mt-5">
				<div>
					<h5>Total Students</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-user-graduate"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Students</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">{{eceStd}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h5>Total Staff</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-chalkboard-user"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Staff</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">50</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div>
				<h4 class="text-center mt-3"><u>Department of Civil Engineering</u></h4>
			</div>
			<div class="d-flex justify-content-around mt-5">
				<div>
					<h5>Total Students</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-user-graduate"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Students</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">{{civilStd}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h5>Total Staff</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-chalkboard-user"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Staff</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">50</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div>
				<h4 class="text-center mt-3"><u>Department of Mechanical Engineering</u></h4>
			</div>
			<div class="d-flex justify-content-around mt-5">
				<div>
					<h5>Total Students</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-user-graduate"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Students</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">{{mechStd}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h5>Total Staff</h5>
					<div class="card rounded-3 shadow" style="width: 18rem;">
						<div class="card-body">
							<div class="d-flex  justify-content-around">
								<div class="bg-primary p-3 rounded-4 text-white">
									<i class="fa-2xl fa-sharp fa-solid fa-chalkboard-user"></i>
								</div>
								<div>
									<div class="d-flex justify-content-end">
										<p class="card-text text-secondary">Staff</p>
									</div>
									<div class="d-flex justify-content-center">
										<p class="card-text fs-4 fw-bold">50</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

