<section class="home-section home-sect">
    <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center ">
                    <a href="/admin/cse-staff">
                        <h3 class=" text-white rounded p-2 px-4 hover-back"> CSE </h3>
                    </a>
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                    <a href="/admin/ece-staff">
                        <h3 class=" text-white rounded p-2 px-4  hover-back">ECE</h3>
                    </a>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 d-flex justify-content-center ">
                    <a href="/admin/mech-staff">
                        <h3 class=" text-white rounded p-2 hover-back">MECH</h3>
                    </a>
                </div>
                <div class="col-md-6 d-flex justify-content-center ">
                    <a href="/admin/civil-staff">
                        <h3 class=" text-white rounded p-2 hover-back">CIVIL</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>