<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 d-flex justify-content-center  " style="margin-top: 7rem;">
                <a href="/admin/cse-staff">
                    <h3 class="bg-primary text-white rounded p-2 hover-back"><span class="text-primary">..</span>CSE <span class="text-primary">..</span></h3>
                </a>
            </div>
            <div class="col-md-6 d-flex justify-content-center " style="margin-top: 7rem;">
                <a href="/admin/ece-staff">
                    <h3 class="bg-primary text-white rounded p-2 hover-back"><span class="text-primary">..</span>ECE<span class="text-primary">..</span></h3>
                </a>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 d-flex justify-content-center " style="margin-top: 7rem;">
                <a href="/admin/mech-staff">
                    <h3 class="bg-primary text-white rounded p-2 hover-back">MECH</h3>
                </a>

            </div>
            <div class="col-md-6 d-flex justify-content-center " style="margin-top: 7rem;">
                <a href="/admin/civil-staff">
                    <h3 class="bg-primary text-white rounded p-2 hover-back">CIVIL</h3>
                </a>

            </div>
        </div>
    </div>
</section>