{{!-- <section class="pt-5 position-absolute bottom-0 start-0 footer-section">
    <div class="line"></div>
    <footer class="footer">
        <div class="mt-4">
            <div class="text-center">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="text-center postion-relative">
            <div >
                <p>© 2022 Designed & Developed by rai__chu__</p>
            </div>
        </div>
    </footer>
    <div class="line"></div>
</section> --}}
<section class="pt-5 footer-section">
    <footer class="bg-light footer">
        <div class="">
            <div class="text-center">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="text-center postion-relative">
            <div >
                <p>© 2023 Designed & Developed by rai__chu__</p>
            </div>
        </div>
    </footer>
</section>