<nav class="navbar navbar-expand-lg  bg-primary p-3">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="#">
      {{#if admin}}
      Welcome Admin
      {{else}}
      Admin
      {{/if}}</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  justify-content-evenly" id="navbarSupportedContent">

      <ul class="navbar-nav ">

        <li class="nav-item ms-auto hover-back">
          <a class="nav-link text-white" aria-current="page" href="/admin">Home</a>
        </li>

        <li class="nav-item ms-auto hover-back">
          <a class="nav-link text-white" href="/admin/teacher">Teachers</a>
        </li>
        <li class="nav-item ms-auto hover-back">
          <a class="nav-link text-white" aria-current="page" href="/admin/students-department">Students</a>
        </li>
        <li class="nav-item ms-auto hover-back">
          <a class="nav-link text-white" aria-current="page" href="#">Attendance</a>
        </li>
        <li class="nav-item ms-auto hover-back">
          <a class="nav-link text-white" aria-current="page" href="/admin/admin-logout">Logout</a>
        </li>

      </ul>

    </div>
  </div>
</nav>