<div class="intro" style="height: 100vh;" >
    <header>
        <div class="d-flex ">
            <div class=" px-3 pt-2">
                <img src="https://gscet.org/wp-content/uploads/2020/07/180logo.png" style="width: 5rem;" alt="Logo">
            </div>
            <div class="com-md-2 pt-4">
                <h4 class="text-white">GSCET</h4>
            </div>
        </div>
        <hr class="border-3">
    </header>
    <div class="container" style="padding-top: 15rem;">
        <div class="row ">
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <h2 class=" main_page_text"><a class="text-white" href="/admin/login">Admin</a></h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center">
                    <h2 class="text-white main_page_text"><a class="text-white" href="/staff/login">Staff</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>