<section>
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="mt-5">
                <h3 class="text-primary mt-5 text-center">Choose the Department</h3>
            </div>
            {{!-- <div class="col-md-1"></div> --}}
            <div class="col-md-5  " style="margin-top: 4rem;" >
                <h3 class="text-center">CSE</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/cse-FirstYearAttendance?dpt=CSE&year=First">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/cse-SecondYear">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/cse-ThirdYear">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/cse-FourthYear">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-md-5 " style="margin-top: 4rem;" >
                <h3 class="text-center">ECE</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/ece-FirstYear">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/ece-SecondYear">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/ece-ThirdYear">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/ece-FourthYear">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {{!-- <div class="col-md-2"></div> --}}
            <div class="col-md-5  mt-5 mb-5" >
                <h3 class="text-center">CIVIL</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/civil-FirstYear">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/civil-SecondYear">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/civil-ThirdYear">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/civil-FourthYear">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-md-5 mt-5 mb-5" >
                <h3 class="text-center">MECH</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/mech-FirstYear">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/mech-SecondYear">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/mech-ThirdYear">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/mech-FourthYear">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</section>