<section class="home-section">
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="mt-5">
                <h3 class="text-primary mt-5 text-center">Choose the Department</h3>
            </div>
            {{!-- <div class="col-md-1"></div> --}}
            <div class="col-md-5  " style="margin-top: 4rem;" >
                <h3 class="text-center">CSE</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CSE&year=First">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CSE&year=Second">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CSE&year=Third">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CSE&year=Fourth">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-md-5 " style="margin-top: 4rem;" >
                <h3 class="text-center">ECE</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=ECE&year=First">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=ECE&year=Second">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=ECE&year=Third">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=ECE&year=Fourth">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {{!-- <div class="col-md-2"></div> --}}
            <div class="col-md-5  mt-5 mb-5" >
                <h3 class="text-center">CIVIL</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CIVIL&year=First">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CIVIL&year=Second">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CIVIL&year=Third">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=CIVIL&year=Fourth">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="col-md-5 mt-5 mb-5" >
                <h3 class="text-center">MECH</h3>
                <table class="table table-hover table-bordered" style="border: 2px solid #080808 !important;">
                        <thead class="text-center">
                            <tr>
                                <th scope="col">Year</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=MECH&year=First">First year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=MECH&year=Second">Second year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=MECH&year=Third">Third year</a></th>
                            </tr>
                            <tr>
                                <th scope="row"><a href="/admin/viewAttendance?dpt=MECH&year=Fourth">Fourth year</a></th>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</section>